@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

*{margin: 0;padding: 0;}
#app
{
    display: flex;
    flex-direction: column;
    flex-grow: 10;
}

#card
{
    width: 8.56cm;
    height: 5.39cm;
    border-radius: 16px;
    background-image: url('./components/cat.jpeg');
    background-size: cover;
    display: block;
    border: 1px solid #a1a1a1;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, .6);
    position: relative;
}
#logo
{
    font-family: 'Playfair Display', serif;
}
#vendor
{
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    margin-left: 16px;
    margin-top: 16px;
    color: #ffffff;
}
#emv
{
    position: absolute;
    left: 16px;
    top: calc(calc(5.39cm - 32px) / 2);
    width: 32px;
    height: 32px;
    display: block;
}
#number
{
    font-family: 'Domine', serif;
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: 16px;
    margin-top: calc(calc(5.39cm - 32px) / 2.2);
    margin-left: 16px;
}
#validity
{
    font-family: 'Roboto Mono', monospace;
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: 14px;
    margin-left: 32px;
}
#holder
{
    font-family: 'Roboto Mono', monospace;
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: 14px;
    margin-left: 32px;
}
#type
{
    width: 48px;
    height: 48px;
    right: 16px;
    bottom: 16px;
    position: absolute;
}